<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhh.community.dao.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.lhh.community.entity.Notification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="notifier" jdbcType="BIGINT" property="notifier" />
    <result column="receiver" jdbcType="BIGINT" property="receiver" />
    <result column="outerId" jdbcType="BIGINT" property="outerid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="notifier_name" jdbcType="VARCHAR" property="notifierName" />
    <result column="outer_title" jdbcType="VARCHAR" property="outerTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, notifier, receiver, outerId, type, gmt_create, status, notifier_name ,outer_title
  </sql>

  <select id="countByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from notification where receiver = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectPageByUserId" parameterType="java.lang.Integer" resultType="com.lhh.community.entity.Notification">
    select * from notification where receiver = #{userId,jdbcType=INTEGER} order by gmt_create desc limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>

  <select id="selectUnReadCount" parameterType="java.lang.Integer" resultType="com.lhh.community.entity.Notification">
    select * from notification where receiver = #{userId,jdbcType=INTEGER} order by gmt_create desc limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>

</mapper>