<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhh.community.dao.NotificationMapper">
  <resultMap id="BaseResultMap" type="com.lhh.community.entity.Notification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="notifier" jdbcType="BIGINT" property="notifier" />
    <result column="receiver" jdbcType="BIGINT" property="receiver" />
    <result column="outerId" jdbcType="BIGINT" property="outerid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="notifier_name" jdbcType="VARCHAR" property="notifierName" />
    <result column="outer_title" jdbcType="VARCHAR" property="outerTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, notifier, receiver, outerId, type, gmt_create, status, notifier_name ,outer_title
  </sql>

  <select id="countByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1) from notification
    where receiver = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectPageByUserId"  resultType="com.lhh.community.entity.Notification">
    select * from notification
    where receiver = #{userId,jdbcType=BIGINT}
    order by gmt_create desc
    limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
  </select>

  <select id="selectUnReadCount"  resultType="java.lang.Long">
    select count(1) from notification
    where receiver = #{userId,jdbcType=BIGINT} and status = #{status,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.lhh.community.entity.Notification">
    insert into notification
    (id, notifier, receiver,outerId, type, gmt_create,status, notifier_name, outer_title)
    values (#{id,jdbcType=BIGINT}, #{notifier,jdbcType=BIGINT}, #{receiver,jdbcType=BIGINT},
    #{outerid,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{gmtCreate,jdbcType=BIGINT},
    #{status,jdbcType=INTEGER}, #{notifierName,jdbcType=VARCHAR}, #{outerTitle,jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateById" parameterType="com.lhh.community.entity.Notification">
    update notification
    set notifier = #{notifier,jdbcType=BIGINT},
    receiver = #{receiver,jdbcType=BIGINT},
    outerId = #{outerid,jdbcType=BIGINT},
    type = #{type,jdbcType=INTEGER},
    gmt_create = #{gmtCreate,jdbcType=BIGINT},
    status = #{status,jdbcType=INTEGER},
    notifier_name = #{notifierName,jdbcType=VARCHAR},
    outer_title = #{outerTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from notification
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>